* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.intro {
    text-align: center;
    padding-bottom: 2rem;
}

.game {
    width: 80%;
    max-width: 850px;
    padding: 40px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 auto;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.controls button {
    padding: 10px;
    border-radius: 50px;
    margin: 5px;
}

.plantControls button {
    padding: 6px;
    border-radius: 20px;
}

.stats, .plantStats {
    padding: 10px;
}

.text {
    padding: 10px;
}